#fa-solid {
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    font-size: 25px;
}

.nav_sidebar i {
    height: 55px;
}

.nav_sidebar_image img {
    height: 55px;
}

.searchBox input {
    background-color: rgb(228, 224, 224);
    border-radius: 15px;
    font-size: 20px;
    width: 400px;
}


/* body {
    background-color: #d37a7a;
} */